#search-form {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  font-size: 2rem;

  & > input {
    padding: 5px 10px;
    height: 3rem;
    width: 500px;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 8px;
  }
}

.form-btn {
  padding: 0 15px;
  margin-right: auto;
  background-color: rgb(83, 192, 255);
  border-radius: 8px;
}
