.loadmore-btn {
  margin: 0 auto;
  height: 3rem;
  font-size: 2rem;

  & > .spinner {
    margin-right: 10px;
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  &.is-hidden {
    display: none;
  }
}

.spinner.is-hidden {
  display: none;
}
